<div class="container">
  <div class="row top-buffer">
    <div class="col-md-12">
      <div style="text-align:center;">
        <span style="font-size:70px; font-weight:bold;" class="white">create your avatar</span>
        <br>
        <span class="grey" style="font-size:30px;">:-)</span>
        <!-- <hr class="hr-grey"> -->
      </div>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-md-11" style="float: none; margin: 0 auto;">
      <div class="col-md-5">
        <canvas id="avatar-create" width="350" height="500"></canvas>
      </div> 
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12 green-box">
            <ul id="avatar-pills" class="nav nav-pills nav-justified">
              <li>
                <a data-toggle="pill" href="#head-menu">
                  <img src="assets/img/avatar-creation/head-icon.png" class="section-img">
                </a>
              <li>
                <a data-toggle="pill" href="#eyes-menu">
                  <img src="assets/img/avatar-creation/eye-icon.png" class="section-img">
                </a>
              </li>
              <li>
                <a data-toggle="pill" href="#skin-menu">
                  <img src="assets/img/avatar-creation/body.png" class="section-img">
                </a>
              </li>
              <li>
                <a data-toggle="pill" href="#upper-menu">
                  <img src="assets/img/avatar-creation/upper-icon.png" class="section-img">
                </a>
              </li>
              <li>
                <a data-toggle="pill" href="#lower-menu">
                  <img src="assets/img/avatar-creation/lower-icon.png" class="section-img">
                </a>
              </li>
             <!--  <li>
                <a data-toggle="pill" href="#shoes-menu">
                  <img src="assets/img/avatar-creation/shoe-icon.png" class="section-img">
                </a>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="row top-buffer">
          <div class="col-md-12 grey-box">
            <div class="tab-content col-md-12 green-box">
              <div id="head-menu" class="tab-pane fade in active">
                
              </div>
              <div id="eyes-menu" class="tab-pane fade">
                
              </div>
              <div id="skin-menu" class="tab-pane fade">
                
              </div>
              <div id="upper-menu" class="tab-pane fade">
                
              </div>
              <div id="lower-menu" class="tab-pane fade">
                
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="row top-buffer">
      <div class="col-md-12">
        <div style="float:right;">
          <button class="btn btn-xl btn-primary top-buffer">continue</button>
        </div>  
      </div>
    </div>
  </div>
</div>

<script>
  // Change background to color
  $('body').css('background-image', 'none');
  $('body').css('background-color', '#90C695');
</script>