<div class="container">
  <div class="row top-buffer">
    <div class="col-md-12">
      <div style="text-align:center;">
        <span style="font-size:70px; font-weight:bold;" class="white">welcome back!</span>
        <br>
        <span class="grey" style="font-size:30px;">we've missed you</span>
        <!-- <hr class="hr-grey"> -->
      </div>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-md-12">
      <div class="grey-box">
        <form class="form-inline">
          <div class="form-large">
            <label for="inputUsername">username: </label>
            <input type="email" class="form-control" style="float:right; clear:both;" id="inputUsername" placeholder="username" required="required">
          </div>
          <hr class="hr-grey" style="margin: 0 auto; margin: 10px;">
          <div class="form-large">
            <label for="inputPw">password: </label>
            <input type="password" class="form-control" style="float:right; clear:both;" id="inputPw" placeholder="password" required="required">
          </div>
        </form>
      </div>
      <div class="pull-left">
        <button class="signup-btn btn btn-xl btn-secondary top-buffer">sign up</button>
      </div> 
      <div class="pull-right">
        <button class="btn btn-xl btn-primary top-buffer">submit</button>
      </div>  
    </div>
  </div>
</div>