<div id="overlay" class="container grey-box-hard-croners">
	<div class="row top-buffer">
		<div class="dark-grey-box col-md-8 col-md-offset-2">
			<div id="title_container" class="row dark-dark-grey-box">
				<div class="col-md-12">Select a minigame!</div>
			</div>
			<div id="minigame_container">
				<div id="minigames_available" class="row row-centered"></div>
			</div>
			<div id="button_container" class="row">
				<button id="minigame_accept" class="btn btn-success col-md-3 col-md-offset-1">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
				<button id="minigame_cancel" class="btn btn-danger col-md-3 col-md-offset-4">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>
		</div>
	<div>
</div>