<div class="grey-box" id="backpacking_overlay">
	<div id="overlay" class="col-md-8 grey-box">
		<div id="title_container" class="row">
			<div class="col-md-12">Pack your backpack!</div>
		</div>
		<div id="available_container" class="row">
			<div id="backpack_available_title" class="col-md-12">Available items:</div>
			<div id="backpack_available" class="col-md-12"></div>
		</div>
		<div id="addition_container" class="row">
			<div id="backpack_addition_title" class="col-md-12">Packed backpack:</div>
			<div id="backpack_addition" class="col-md-12"></div>
		</div>
		<div id="button_container" class="row">
			<button id="backpack_accept" class="col-md-6">Accept</button>
			<button id="backpack_cancel" class="col-md-6">Cancel</button>
		</div>
	</div>
</div>