<div id="overlay" class="container grey-box-hard-corners">
	<div class="row top-buffer">
		<div class="dark-grey-box col-md-8 col-md-offset-2">
			<div id="title_container" class="row dark-dark-grey-box">
				<div class="col-md-12">Pack your backpack!</div>
			</div>
			<div id="available_container">
				<div id="backpack_available_title" class="dark-dark-grey-box-smaller-text">Available items:</div>
				<div id="backpack_available" class="row row-centered"></div>
			</div>
			<div id="addition_container">
				<div id="backpack_addition_title" class="dark-dark-grey-box-smaller-text">Packed backpack:</div>
				<div id="backpack_addition" class="row row-centered"></div>
			</div>
			<div id="button_container" class="row">
				<button id="backpack_cancel" class="btn btn-danger col-md-3 col-md-offset-1">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<button id="backpack_accept" class="btn btn-success col-md-3 col-md-offset-4">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
			</div>
		</div>
	</div>
</div>
