<div id="overlay" class="container grey-box-hard-corners">
  <div class="row top-buffer">
    <div class="dark-grey-box col-md-8 col-md-offset-2">
      <div id="title_container" class="row dark-dark-grey-box">
        <div class="col-md-12">Shop</div>
      </div>
      <div class="row">
        <div id="hub_shop_container">
          <ul id="hub_shop_titles" class="nav nav-tabs"></ul>
          <div id="hub_shop_content" class="tab-content"></div>
        </div>
      </div>
      <div class="row top-buffer">
        <div class="col-md-12" style="text-align:center;">
          <div id="currency_container" style="font-size:16px; margin-bottom:10px;"></div>
          <div id="price_container" style="font-size:20px; font-weight:bold; width:50%; margin:0 auto;">
          </div>
        </div>
      </div>
      <div class="row top-buffer">
        <div id="button_container" class="col-md-12 top-buffer">
          <button id="hub_shop_cancel" class="btn btn-danger col-md-3 col-md-offset-1">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
          <button id="hub_shop_accept" class="btn btn-success col-md-3 col-md-offset-4">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


