<div class="container">
  <div class="row top-buffer">
    <div class="col-md-12">
      <div style="text-align:center;">
        <span style="font-size:70px; font-weight:bold;">sign up</span>
        <br>
        <span class="white" style="font-size:30px;">by filling in your details below:</span>
      </div>
      <div class="white-box-opaque top-buffer">
        <form class="form-inline top-buffer">
          <div class="form-large">
            <label for="signup_username"><span class="required">*</span>username: </label>
            <div class="pull-right clearfix">
              <span class="hidden signup_username-ok glyphicon glyphicon-ok-sign"></span><span class="hidden signup_username-error glyphicon glyphicon-remove-sign"></span>
              <input type="text" class="form-control" id="signup_username" placeholder="username" required="required">
            </div>
          </div>
          <hr class="hr-grey">
          <div class="form-large">
            <label for="signup_password"><span class="required">*</span>password: </label>
            <div class="pull-right clearfix">
              <span class="hidden signup_password-ok glyphicon glyphicon-ok-sign"></span><span class="hidden signup_password-error glyphicon glyphicon-remove-sign"></span>
              <input type="password" class="form-control" id="signup_password" placeholder="password" required="required">
            </div>
          </div>
          <hr class="hr-grey">
          <div class="form-large">
            <label for="signup_repeatPassword"><span class="required">*</span>re-enter password: </label>
            <div class="pull-right clearfix">
              <span class="hidden signup_repeatPassword-ok glyphicon glyphicon-ok-sign"></span><span class="hidden signup_repeatPassword-error glyphicon glyphicon-remove-sign"></span>
              <input type="password" class="form-control" id="signup_repeatPassword" placeholder="password" required="required">
            </div>
          </div>
          <hr class="hr-grey">
          <div class="form-large">
            <label for="signup_dob"><span class="required">*</span>date of birth: </label>
            <div class="pull-right clearfix">
              <span class="hidden signup_dob-ok glyphicon glyphicon-ok-sign"></span><span class="hidden signup_dob-error glyphicon glyphicon-remove-sign"></span>
              <input type="date" class="form-control" style="width:370px;" id="signup_dob" required="required">
            </div>
          </div>
          <hr class="hr-grey">
          <div class="form-large">
            <label for="signup_conditions"><span class="required">*</span>select conditions: </label>
            <div class="pull-right clearfix">
              <select multiple id="signup_conditions" class="form-control input-lg" style="width:370px;">
              </select>
            </div>
          </div>
          <br>
          <span class="required" style="font-size:30px">*</span> required field
        </form>
      </div>

      <div class="pull-left">
        <button class="login-btn btn btn-xl btn-primary top-buffer">log in</button>
      </div>
      <div class="pull-right">
        <button class="signup-submit btn btn-xl btn-secondary top-buffer">next</button>
      </div> 
    </div>
  </div>
</div>