<div class="container">
  <div class="row top-buffer">
    <div class="col-md-12">
      <div style="text-align:center;">
        <span style="font-size:70px; font-weight:bold;">sign up</span>
        <br>
        <span class="white" style="font-size:30px;">by filling in your details below:</span>
      </div>
      <div class="white-box top-buffer">
        <form class="form-inline top-buffer">
          <div class="form-large">
            <label for="inputUsername"><span class="required">*</span>username: </label>
            <input class="form-control" style="float:right; clear:both;" id="inputUsername" placeholder="username" required="required">
          </div>
          <hr class="hr-grey">
          <div class="form-large">
            <label for="inputPw"><span class="required">*</span>password: </label>
            <input type="password" class="form-control" style="float:right; clear:both;" id="inputPw" placeholder="password" required="required">
          </div>
          <hr class="hr-grey">
          <div class="form-large">
            <label for="inputRePw"><span class="required">*</span>re-enter password: </label>
            <input type="password" class="form-control" style="float:right; clear:both;" id="inputRePw" placeholder="password">
          </div>
          <hr class="hr-grey">
          <div class="form-large">
            <label for="inputDOB">date of birth: </label>
            <input type="date" class="form-control" style="float:right; clear:both; width:370px;" id="inputDOB">
          </div>
          <br>
          <span class="required" style="font-size:30px">*</span> required field
        </form>
      </div>
      <div class="top-buffer" style="margin-left:10px;">
        <button class="btn btn-xl btn-secondary" style="float:right; clear:both;">next</button>
      </div>
    </div>
  </div>
</div>