<div class="container">
  <div class="row top-buffer">
    <div class="col-md-12">
      <div style="text-align:center;">
        <span style="font-size:70px; font-weight:bold;" class="white">create your avatar</span>
      </div>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-md-11" style="float: none; margin: 0 auto;">
      <div class="col-md-5">
        <div id="canvas-div">
          <canvas id="avatar-create" width="300" height="400"></canvas>
        </div>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12 orange-bbox">
            <ul id="avatar-pills" class="nav nav-pills nav-justified">
              <li class="active">
                <a data-toggle="pill" href="#head-menu">
                  <img src="assets/img/avatar-creation/head-icon.png" class="section-img">
                </a>
              <li>
                <a data-toggle="pill" href="#eyes-menu">
                  <img src="assets/img/avatar-creation/eye-icon.png" class="section-img">
                </a>
              </li>
              <li>
                <a data-toggle="pill" href="#skin-menu">
                  <img src="assets/img/avatar-creation/body.png" class="section-img">
                </a>
              </li>
              <li>
                <a data-toggle="pill" href="#shirt-menu">
                  <img src="assets/img/avatar-creation/shirt-icon.png" class="section-img">
                </a>
              </li>
              <li>
                <a data-toggle="pill" href="#trousers-menu">
                  <img src="assets/img/avatar-creation/trousers-icon.png" class="section-img">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row top-buffer">
          <div class="col-md-12 white-box-opaque">
            <div id="selection-menu" class="tab-content col-md-12 white-box">
              <div id="head-menu" data-slot="head" class="avatar-slot tab-pane fade in active"></div>
              <div id="eyes-menu" data-slot="eyes" class="avatar-slot tab-pane fade"></div>
              <div id="skin-menu" data-slot="skin" class="avatar-slot tab-pane fade"></div>
              <div id="shirt-menu" data-slot="shirt" class="avatar-slot tab-pane fade"></div>
              <div id="trousers-menu" data-slot="trousers" class="avatar-slot tab-pane fade"></div>
            </div>
          </div>
          <div style="float:right;">
            <button id="avatar-creation-close" class="btn btn-xl btn-secondary top-buffer">finish</button>
          </div>  
        </div>
        <!-- There is no server side implementaion of this currently
        <div class="row top-buffer">
          <div class="col-md-12" style="text-align:center;">
            <span style="font-size: 25px;">choose your favourite color: </span>
            <br>
            <input type="color" id="favcolor" style="width: 60px; height: 60px; border-radius: 10px;" value="#E8DC00">
          </div>
        </div>
        -->
      </div>  
    </div>
  </div>
</div>
