<div id="overlay" class="container grey-box-hard-corners">
	<div class="row top-buffer">
		<div class="dark-grey-box col-md-8 col-md-offset-2">
			<div id="title_container" class="row dark-dark-grey-box">
				<div class="col-md-12">Customise the hub!</div>
			</div>
			<div id="hub_customisables_container">
				<ul id="hub_customisables_titles" class="row nav nav-tabs"></ul>
				<div id="hub_customisables_content" class="row tab-content"></div>
			</div>
			<div id="button_container" class="row">
				<button id="hub_customise_cancel" class="btn btn-danger col-md-3 col-md-offset-1">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<button id="hub_customise_accept" class="btn btn-success col-md-3 col-md-offset-4">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
			</div>
		</div>
	</div>
</div>