<div id="overlay" class="container grey-box-hard-corners">
	<div class="row top-buffer">
		<div class="dark-grey-box col-md-8 col-md-offset-2">
			<div id="title_container" class="row dark-dark-grey-box">
				<div class="col-md-12">Scoreboard</div>
			</div>
			<div id="score_container">
				<div id="scores" class="row row-centered"></div>
			</div>
			<div id="button_container" class="row">
				<button id="score_close" class="btn btn-danger col-md-2 col-md-offset-5">
					Close
				</button>
			</div>
		</div>
	<div>
</div>